/* GENERAL */

body {
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
  margin: 0 0 0 0;
}

/* HEADER */
.cabecera {
  padding: 0 !important;
  height: 75px !important;
  position: sticky;   
  top: 0; 
}
.logoHeader {
  justify-items: start;
  display: flex;
  height: 45px;
}

header {
  background: #edc7b7;
  text-align: right;
  padding: 1em;
  align-items: center;
  position: sticky;   
  top: 0; 
}

.link:link,
.link:visited,
.link:active {
  text-decoration: none;
  padding: 1.7em;
  color: #ac3b61;
  font-weight: 400;
}

.link:hover {
  font-weight: 600;
}

/* BODY*/
#presentacion {
  padding: 8% 8% 0% 10%;
  text-align: right;
  justify-content: center;
}

.presentacionRow {
  text-align: right;
  align-items: center;
}

h1 {
 padding-top: 5% ;
  font-size: 2.5em;
  font-weight: 700 !important;
}

#integrantes {
  padding: 7%;
}

.imagenGrupo {
  max-width: 100%;
  max-height: 70%;
}


*#nuestroGrupo {
  padding-top: 5%;
  text-align: justify;
  font-size: 1em;
}

/* FOOTER */

footer {
  background: #edc7b7;
  color: #ac3b61;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;

}

.pie{
  padding-inline: 0 !important;

}
.logoFooter{
height: 35px;
}


.logo {
  height: 1.2em;
  vertical-align: baseline;
}


/* FORMULARIO */

.titulo{
  text-align: center;
  padding: 5% 0 5% 0;
}


#contacto {
  justify-content: center;
  padding: 5%;
}


input {
  font-size: 1em;
  width: 20em;
  max-width: 100%;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
}

/* .comentario {
  font-size: 1em;
  margin: 8px;
  border-radius: 5px;
  width: 95%;
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  overflow: auto;
} */

.boton {
  border: solid #007bff;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  width: 95%;
  height: 2.5em;
  box-sizing: border-box;
  display: block;
  overflow: auto;
}

.boton:hover {
  border: solid #005dc0;
  background-color: #005dc0;
}

/* @media (max-width: 720px) {
  form {
    display: grid;
    justify-content: flex-start;
    max-width: 100%;
  }
} */


/* INTEGRANTES */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
h3 {
  font-weight: 600 !important;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Wizard Form */

a, a:hover, a:focus {
	color: #007bff;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
::-moz-selection { background: #007bff; color: #fff; text-shadow: none; }
::selection { background: #007bff; color: #fff; text-shadow: none; }

.top-content { padding: 40px 0 170px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box { padding-top: 40px; }

.f1 {
	padding: 25px; background: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #007bff; }

.f1-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }

.f1-step-icon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
	background: #fff; border: 1px solid #007bff; color: #007bff; line-height: 38px;
}
.f1-step.active .f1-step-icon {
	width: 48px; height: 48px; margin-top: 0; background: #007bff; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #007bff; }
.f1-step.active p { color: #007bff; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #007bff; }


/* Form------ */

input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	height: 90px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

label { font-weight: 300; }


button.btn {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus,
button.btn:active:focus,
button.btn.active:focus { outline: 0; opacity: 0.6; color: #fff; }

button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus { background: #007bff; }

button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus { background: #007bff; }

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus, button.btn.btn-previous.active:focus { background: #bbb; }
