/* GENERAL */

body {
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
  margin: 0 0 0 0;
}

/* HEADER */
.cabecera {
  padding: 0 !important;
  height: 75px !important;
  position: sticky;   
  top: 0; 
}
.logoHeader {
  justify-items: start;
  display: flex;
  height: 45px;
}

header {
  background: #edc7b7;
  text-align: right;
  padding: 1em;
  align-items: center;
  position: sticky;   
  top: 0; 
}

.link:link,
.link:visited,
.link:active {
  text-decoration: none;
  padding: 1.7em;
  color: #ac3b61;
  font-weight: 400;
}

.link:hover {
  font-weight: 600;
}

/* BODY*/
#presentacion {
  padding: 8% 8% 0% 10%;
  text-align: right;
  justify-content: center;
}

.presentacionRow {
  text-align: right;
  align-items: center;
}

h1 {
 padding-top: 5% ;
  font-size: 2.5em;
  font-weight: 700 !important;
}

#integrantes {
  padding: 7%;
}

.imagenGrupo {
  max-width: 100%;
  max-height: 70%;
}


*#nuestroGrupo {
  padding-top: 5%;
  text-align: justify;
  font-size: 1em;
}

/* FOOTER */

footer {
  background: #edc7b7;
  color: #ac3b61;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;

}

.pie{
  padding-inline: 0 !important;

}
.logoFooter{
height: 35px;
}


.logo {
  height: 1.2em;
  vertical-align: baseline;
}


/* FORMULARIO */

.titulo{
  text-align: center;
  padding: 5% 0 5% 0;
}


#contacto {
  justify-content: center;
  padding: 5%;
}


input {
  font-size: 1em;
  width: 20em;
  max-width: 100%;
  height: 2.5em;
  margin: 0.5em;
  border-radius: 5px;
  box-sizing: border-box;
}

/* .comentario {
  font-size: 1em;
  margin: 8px;
  border-radius: 5px;
  width: 95%;
  font-family: inherit;
  box-sizing: border-box;
  display: block;
  overflow: auto;
} */

.boton {
  border: solid #007bff;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  width: 95%;
  height: 2.5em;
  box-sizing: border-box;
  display: block;
  overflow: auto;
}

.boton:hover {
  border: solid #005dc0;
  background-color: #005dc0;
}

/* @media (max-width: 720px) {
  form {
    display: grid;
    justify-content: flex-start;
    max-width: 100%;
  }
} */


/* INTEGRANTES */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
h3 {
  font-weight: 600 !important;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

